dist: xenial

language: python
cache:
  pip: true
  directories:
    - $TRAVIS_BUILD_DIR/.tox
  
python:
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
  - 'pypy3'

#matrix: pr
#  allow_failures:
#    - python: '3.8-dev'

services:
  - docker

install:
  - pip install tox-travis

script:
  - tox --parallel-live

after_success:
  - pip install codecov
  - codecov -v
